
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <img class="logo" src="assets/img/logo.png" alt="Logotipo Instituto Servidores da Luz" title="Logotipo Instituto Servidores da Luz">
            <h1 class="text-white">Instituto Servidores da Luz</h1>
            <h3 class="text-white">Sejam Todos Muito Bem-vindos!</h3>
            <br>
            <a href="#proximosRituais" class="btn btn-lg btn-white" title="Próximos Rituais">Próximos Rituais</a>
        </div>
    </header>