
    <!-- Map -->
    <section id="contact" class="map">
        <div class="row">
            <iframe class="w-100" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.844580864672!2d-46.512607390310116!3d-23.581500031519766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce677f5527434f%3A0x35bfeed6b8ec4c2e!2sRua+Senador+Henrique+Novaes%2C+163+-+Jardim+Caguassu%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1474144714509" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                <br />
                <small>
                    <a title="Mapa do Local" href="https://www.google.com.br/maps/place/Rua+Senador+Henrique+Novaes,+163+-+Jardim+Caguassu,+S%C3%A3o+Paulo+-+SP/@-23.5815,-46.5126074,17.64z/data=!4m5!3m4!1s0x94ce677f5527434f:0x35bfeed6b8ec4c2e!8m2!3d-23.5815865!4d-46.5115014"></a>
                </small>
            </iframe>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3><strong>Instituto Servidores da Luz</strong>
                    </h3>
                    <p class="text-medium">Rua Senador Henrique Novaes, 163
                        <br>Jd. Caguassu - São Paulo - SP</p>
                    <ul class="list-unstyled text-medium">
                        <li><a target="_blank" href="https://api.whatsapp.com/send?phone=5511979593558&text=Ola,%20encontrei%20seu%20site%20e%20gostaria%20de%20mais%20informações"><i class="fa fa-whatsapp fa-fw"></i>Nete: 11 97959-3558</a></li>
                        <li><a target="_blank" href="https://api.whatsapp.com/send?phone=5511940243676&text=Ola,%20encontrei%20seu%20site%20e%20gostaria%20de%20mais%20informações"><i class="fa fa-whatsapp fa-fw"></i>Alex: 11 94024-3676</a></li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:servidoresdaluz@outlook.com" title="Contato via e-mail">servidoresdaluz@outlook.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/institutoservidoresdaluz/" title="Link para o Facebook"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>