
    <!-- About -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Amor</h2>
                    <p class="lead">O amor é o valor mais forte que nos une aos nossos semelhantes.<br>
                    O amor é capaz de nos elevar e dar sentido à nossa vida.<br>
                    Só por amor somos capazes de grandes gestos.<br>
                    Só por amor somos capazes de perdoar o que for preciso.<br>
                    <em>Anderson Cavalcante</em></p>
                    <br/>
                    <h2>Nossos Rituais</h2>
                    <p class="lead">Desenvolvemos os rituais com o auxílio da ferramenta espiritual ayahuasca.<br/>
                    Nosso compromisso é com a seriedade e a evolução.<br/>
                        Praticamos a meditação e nossos rituais tem duração 4 horas.<br/>
                        A ayahuasca que utilizamos é pura e sem qualquer tipo de mistura, aditivos ou drogas.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
