<nav id="navbar-div" class="navbar navbar-expand-xg navbar-dark w-100 position-absolute z1">
    <a class="navbar-brand" href="">Instituto Servidores da Luz</a>
    <button class="navbar-toggler float-right my-right" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-right my-right menu-lista">
            <li class="nav-item active">
                <a class="nav-link" href="#about">Sobre</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#inscrever">Inscrever</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#proximosRituais">Próximos Rituais</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#normas">Normas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#fotos">Fotos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#contact">Contato</a>
            </li>
        </ul>
    </div>
</nav>