<nav class="navbar navbar-expand-xg navbar-light bg-light">
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <button id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!-- Navigation -->
<!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a> -->
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle" title="Menu">
            <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
            <a href="#top" onclick="$('#menu-close').click();" title="ISDL">ISDL</a>
        </li>
        <li>
            <a href="#top" onclick="$('#menu-close').click();" title="Home">Home</a>
        </li>
        <li>
            <a href="#about" onclick="$('#menu-close').click();" title="Quem Somos">Quem Somos</a>
        </li>
        <li>
            <a href="#proximosRituais" onclick="$('#menu-close').click();" title="Próximos Rituais">Próximos Rituais</a>
        </li>
        <li>
            <a href="#portfolio" onclick="$('#menu-close').click();" title="Nossas Fotos">Nossas Fotos</a>
        </li>
        <li>
            <a href="#contact" onclick="$('#menu-close').click();" title="Contato">Contato</a>
        </li>
    </ul>
</nav>