
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nossas Fotos</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="assets/img/ritual-1.jpeg" alt="O querido Alex conduzindo a palestra" title="O querido Alex conduzindo a palestra">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="assets/img/ritual-2.jpeg" alt="Nete e os queridos fiscais" title="Nete e os queridos fiscais">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="assets/img/ritual-3.jpeg" alt="O pessoal observando a palestra" title="O pessoal observando a palestra">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="assets/img/ritual-4.jpeg" alt="O pessoal sentindo a energia das músicas" title="O pessoal sentindo a energia das músicas">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
