
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center text-black">
            <p>&nbsp;</p>
            <h2>Normas e Condições para Participação em Nossos Rituais</h2>
              <div>
                <p class="text-medium">
                  Aqui Neste INSTITUTO Espiritual é expressamente PROIBIDO portar qualquer 
                  droga, cigarro ou álcool. Nunca esquecer que é um trabalho espiritual, 
                  O SILÊNCIO É FUNDAMENTAL. Traga Seriedade, Respeito e Disciplina! <br>
                  - Todos são obrigados a apresentar documento com foto (RG, carteira 
                  trabalho ou de motorista) Menores devem estar acompanhados por um dos 
                  responsáveis legais ou com autorização por escrito com firma reconhecida 
                  em Cartório. <br><a href="assets/docs/at.doc" target="_blank" title="Documento para menor de idade poder participar sem os responsáveis">( clique aqui para imprimir 
                  o modelo )</a> <br>
                  </p>
                <p class="text-medium">- 
                  Trazer colchonete e cobertor <br>
                  <br>
                  Mulheres vestidas discretamente com blusa sem 
                  decote e saia longa (pode-se usar por cima de calça comprida ou shorts) 
                  <br>
                  Homens vestidos com calça comprida e camiseta 
                  de manga (não é permitido bermudas nem regatas). Roupas de cores claras 
                  <br>
                  <br>
                  Restrições à participação nos trabalhos c/Ayahuasca: <br>
                  <br>
                  - Pessoas que tomam remédio tarja preta , caso não haja restrição médica 
                  entrar em contato para mais informações. <br>
                  <br>
                  - Não é permitido às pessoas com problemas cardíacos, inclusive as que 
                  utilizem marca-passo. <br>
                  <br>
                  - Não é permitido às pessoas com problemas psiquiátricos. <br>
                  <br>
                  - Dentro do Instituto é proibido FUMAR cigarro, USAR O RAPÉ - Sugerimos 
                  que se abstenham de álcool 03 dias antes do trabalho para um melhor 
                  aproveitamento do mesmo. <br>
                  <br>
                  O que levar para o ritual: rolos de papel higiênico, velas de sete dias, 
                  incensos Nag Champa Alimentos para o final como: Pães, Bolos, tortas, 
                  frutas e sucos... Traga para você e para seu irmão!!!</p>
              </div>

        </div>
    </aside>