<section id="proximosRituais" class="services">
    <div class="container" *ngIf="rituais.length > 0">
        <div class="text-center">
            <h2>Próximos Rituais - Ayahuasca</h2>
            <hr class="small">
            <div class="ritual" *ngFor="let ritual of rituais">
                <h3>{{ritual.dataTexto}}</h3>
                <p [innerHTML]="ritual.eventoFaceEmbedly"></p>
                <a [href]="ritual.eventoFace" target="blank"><img class="img-ritual" alt="Meditação com Ayahuasc aem São Paulo dia {{ritual.dataTexto}}" title="Meditação com Ayahuasca em São Paulo dia {{ritual.dataTexto}}"
                    src="{{ritual.imagem.fields.file.url}}"></a>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="rituais.length == 0">
        <div class="text-center">
            <h2>Próximos Rituais - Ainda não temos uma data definida</h2>
            <p>Mas se quiser ser avisado, você pode se inscrever na nossa lista de e-mails acima ou nos seguir no Facebook:</p>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/institutoservidoresdaluz/" title="Link para o Facebook"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>